*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: var(--white);
    width: 100%;
}

body::-webkit-scrollbar {
    background-color: var(--black);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 0.625rem;
}

li {
    list-style: none;
}

@media (min-width: 760px) and (min-height: 1000px) {html {font-size: 26px;}}
@media (min-width: 800px) and (min-height: 1100px) {html {font-size: 28px;}}
@media (min-width: 1000px) and (min-height: 1350px) {html {font-size: 32px;}}
@media (min-width: 1400px) and (min-height: 660px) {html {font-size: 24px;}}
@media (min-width: 2500px) and (min-height: 660px) {html {font-size: 40px;}}